.mobile_nav {
    .container {
        width: 100%;
        text-align: center;
    }

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: rgb(40, 40, 40);
        position: relative;
        border-radius: 10px;


        /* Hide the links inside the navigation menu (except for logo/home) */
        #myLinks {
            display: none;
            


            .rarity {

                background-color: black;
            }
        }

        /* Style navigation menu links */
        a {
            color: $color-white-0;
            padding: 14px 16px;
            text-decoration: none;
            display: block;
        }

        .title {
            width: 100%;
            color: $color-white-0;
            font-size: 30px;
            border-bottom: 2px solid rgb(66, 66, 66);
            text-align: center;
        }
    }

    #cardType {
        display: none;
        background-color: black;

        .check {
            margin: 0 auto;
            text-align: left;
        }

        p {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        .check::before {
            box-sizing: border-box;
            content: "";
            display: block;
            right: .3125em;
            top: .3125em;
            height: 1.75em;
            width: 1.75em;
            position: absolute;
            background-color: #dcdcdc;
            border: 2px solid #3f3f3f;
            border-radius: 50%;
            text-align: center;
            line-height: 1.5em;
            color: #fff;
        }

        .check {
            user-select: none;
            background-color: #373737;
            display: block;
            cursor: pointer;
            height: 2.375em;
            padding: 0 1em 0 1em;
            width: 75%;
            border-radius: 1.2em;
            position: relative;
            clear: both;
            z-index: 2;
            transition: background-color 1s ease;
        }

        .input__control {
            top: 50%;
            right: 50%;
            height: 1px;
            width: 1px;
            z-index: -1;
            background: none;
            opacity: 0;
            appearance: none;
        }

        input[type="checkbox"]:checked+.check::before {
            color: $color-white-0;
            background-color: orange;
            content: '✔';
        }
    }

    #Rarity {
        display: none;
        background-color: black;

        .check {
            margin: 0 auto;
            text-align: left;
        }

        p {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        .check::before {
            box-sizing: border-box;
            content: "";
            display: block;
            right: .3125em;
            top: .3125em;
            height: 1.75em;
            width: 1.75em;
            position: absolute;
            background-color: #dcdcdc;
            border: 2px solid #3f3f3f;
            border-radius: 50%;
            text-align: center;
            line-height: 1.5em;
            color: #fff;
        }

        .check {
            user-select: none;
            background-color: #373737;
            display: block;
            cursor: pointer;
            height: 2.375em;
            padding: 0 1em 0 1em;
            width: 75%;
            border-radius: 1.2em;
            position: relative;
            clear: both;
            z-index: 2;
            transition: background-color 1s ease;
        }

        .input__control {
            top: 50%;
            right: 50%;
            height: 1px;
            width: 1px;
            z-index: -1;
            background: none;
            opacity: 0;
            appearance: none;
        }

        input[type="checkbox"]:checked+.check::before {
            color: $color-white-0;
            background-color: orange;
            content: '✔';
        }
    }
}