.pop__up {
    button {
        transition: 0.5s;
    }

    .button--mint {
        margin: $mg-0;
        border: 2px solid $color-mint-0;
        
    }

    .button--dark {
        border: 2px solid $color-mint-0;
        // margin-right: $mg-0;
    }
    .modal-body {
        white-space: 30px;
    }
}