.search_page {

    .first {
        .title {
            text-align: left;
            padding-top: $pd-3;
            padding-left: $pd-2;
            font-size: $fs-1 + 10;

        }

        .form-label {
            padding-top: $pd-3;
            color: $color-gray-0;
        }
    }

    .second {
        padding-top: $pd-3;
        padding-left: $pd-2;
        font-size: $fs-0 + 3;

        .form-label {
            color: $color-gray-0;
        }
    }

    .third {
        .title {
            text-align: left;
            padding-top: $pd-3;
            padding-left: $pd-2;
            font-size: $fs-1 + 10;
        }
    }

    .fourth {
        .content{
            border-radius: 10px;
            color: $color-black-0;
        }
        .content:hover{
            background-color: green;
            border: green solid 1px;
        }

        .container:hover{
            background-color: red;
            border-color: green;
        }

    }
}