    // COLOR
$color-white-0:#FFF;
$color-dark-0:black;
$color-yellow-0:yellow;
$color-red-0:red;
$color-blue-0:blue;

// Font-size
$fs-0:15px;
$fs-1:20px;

// Font-weight
$fw-0:normal;
$fw-1:600;
$fw-2:700;
// Margin
$mg-0:10px;
$mg-1:20px;

// Padding
$pd-0:10px;
$pd-1:20px;

// BreakPoints
$breakpoints:(
    'super' : 1400px,
    'extra-large':1200px,
    'large':992px,
    'medium':768px,
    'small':576px,
);