@charset "UTF-8";
header, footer {
  margin-bottom: 0px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 15px;
  color: black;
  background-color: #FFF;
}

header {
  background-color: rgba(0, 0, 0, 0.5) !important;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header .header__content .navbar-brand {
  margin-left: 60px;
}

header .header__content .navbar-brand img {
  display: inline-block;
}

header .header__content .navbar-brand .logo--icon {
  width: 50px;
}

header .header__content .navbar-brand .logo--name {
  width: 150px;
}

header .header__content .navbar-nav {
  margin-left: auto !important;
}

header .header__content .navbar-nav .nav-item {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header__content .navbar-nav .nav-item .nav-link {
  color: #FFF;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 20px;
}

header .header__content .navbar-nav .nav-item:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#00ffe5), to(transparent));
  background: linear-gradient(to top, #00ffe5, transparent);
  border-radius: 10px;
  opacity: 1;
}

header .header__content .cart__logo {
  padding: 10px;
  text-align: center;
}

header .header__content .cart__logo a {
  text-decoration: none;
  color: #FFF;
  margin-right: 30px;
}

header .header__content .cart__logo a i {
  color: orange;
  font-size: 40px;
}

footer {
  background-color: #24262a;
  padding-top: 50px;
  width: 100%;
  padding-bottom: 50px;
}

footer .container {
  padding-right: 40px;
  padding-left: 40px;
}

footer .top__footer .container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: #FFF;
}

footer .top__footer .container .content {
  text-align: center;
  margin: auto;
  white-space: nowrap;
}

footer .top__footer .container .icon {
  font-size: 50px;
  width: 100%;
  margin: 0 auto;
}

footer .top__footer .container .icon .list__snw {
  text-align: center;
}

footer .top__footer .container .icon .list__snw a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

footer .top__footer .container .icon .list__snw a::before,
footer .top__footer .container .icon .list__snw a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  color: #FFF;
}

footer .top__footer .container .icon .list__snw a::before {
  background-color: #00ffe5;
  height: 2px;
  bottom: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
}

footer .top__footer .container .icon .list__snw a:hover {
  color: #FFF;
}

footer .top__footer .container .icon .list__snw a:hover::before {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

footer .top__footer .container .icon .list__snw a:hover::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

footer .top__footer .container .icon .list__snw i {
  color: gray;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 0 20px;
  color: #FFF;
}

footer .top__footer .container .icon .list__snw i a {
  text-decoration: none;
  color: gray;
}

footer .top__footer .container .icon .list__snw #facebook:hover {
  color: #4267b2;
}

footer .top__footer .container .icon .list__snw #instagram:hover {
  color: #833AB4;
}

footer .top__footer .container .icon .list__snw #twitch:hover {
  color: #6441a5;
}

footer .top__footer .container .icon .list__snw #linkedin:hover {
  color: #0072b1;
}

footer .top__footer .container .icon .list__snw #github:hover {
  color: #AD62AA;
}

footer .top__footer .container .icon .list__snw #youtube:hover {
  color: #FF0000;
}

footer .top__footer .container .icon .list__snw #discord:hover {
  color: #5865F2;
}

footer .bot__footer {
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

footer .bot__footer .container {
  max-width: 100%;
  font-size: 20px;
}

footer .bot__footer .container .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer .bot__footer .container .logo .logo--name {
  width: 150px;
}

footer .bot__footer .container .first__content {
  margin: 0;
  white-space: nowrap;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .bot__footer .container .first__content .web__link {
  font-size: 20px;
  display: block;
}

footer .bot__footer .container .first__content .web__link a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

footer .bot__footer .container .first__content .web__link a::before,
footer .bot__footer .container .first__content .web__link a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  color: #FFF;
}

footer .bot__footer .container .first__content .web__link a::before {
  background-color: #00ffe5;
  height: 2px;
  bottom: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
}

footer .bot__footer .container .first__content .web__link a:hover {
  color: #FFF;
}

footer .bot__footer .container .first__content .web__link a:hover::before {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

footer .bot__footer .container .first__content .web__link a:hover::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

footer .bot__footer .container .first__content .web__link a {
  text-decoration: none;
  color: gray;
}

footer .bot__footer .container .contact .each__member {
  font-size: 20px;
  display: block;
}

footer .bot__footer .container .contact .each__member a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

footer .bot__footer .container .contact .each__member a::before,
footer .bot__footer .container .contact .each__member a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  color: #FFF;
}

footer .bot__footer .container .contact .each__member a::before {
  background-color: #00ffe5;
  height: 2px;
  bottom: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
}

footer .bot__footer .container .contact .each__member a:hover {
  color: #FFF;
}

footer .bot__footer .container .contact .each__member a:hover::before {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

footer .bot__footer .container .contact .each__member a:hover::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

footer .bot__footer .container .contact .each__member a {
  text-decoration: none;
  color: gray;
}

footer .bot__footer .container .logo__e {
  text-align: center;
}

footer .bot__footer .container .logo__e img {
  width: 150px;
}

.banner {
  height: 1000px;
}

.banner .banner__content video {
  width: 100%;
  height: 100%;
}

.scrollbar .sideNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  top: 240px;
  position: fixed;
  z-index: 800;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: -webkit-transform .15s linear;
  transition: -webkit-transform .15s linear;
  transition: transform .15s linear;
  transition: transform .15s linear, -webkit-transform .15s linear;
  font-size: 30px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
}

.scrollbar .sideNavigation #icon {
  font-size: 30px;
  width: 100%;
  margin: 0 auto;
}

.scrollbar .sideNavigation .sideNavigation .btn {
  margin: 1px 0 0;
  padding: 4px 25px 6px 15px;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}

.scrollbar .sideNavigation .sideNavigation__item {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.3));
  border-right: 2px solid #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: color 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

.scrollbar .sideNavigation .btn:hover {
  background-color: black;
  color: #00ffe5;
}

.pop__up button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pop__up .button--mint {
  margin: 10px;
  border: 2px solid #00ffe5;
}

.pop__up .button--dark {
  border: 2px solid #00ffe5;
}

.pop__up .modal-body {
  white-space: 30px;
}

.item__list {
  background-color: #FFF;
  text-align: center;
  padding-top: 50px;
  /* 348 / 479 */
}

.item__list .container_main {
  left: 40%;
  -webkit-transform: translate(-1%, 1%);
  transform: translate(-1%, 1%);
}

.item__list .cover {
  display: inline-block;
  width: 240px;
  height: 330px;
  margin: 15px;
  border-radius: 8px;
}

.item__list .atvImg {
  border-radius: 8px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.item__list .atvImg img {
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
  box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
}

.item__list .atvImg-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.item__list .atvImg-container.over .atvImg-shadow {
  -webkit-box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
  box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
}

.item__list .atvImg-layers {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.item__list .atvImg-rendered-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: cover;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  overflow: hidden;
  border-radius: 8px;
}

.item__list .atvImg-shadow {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
  box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
}

.item__list .atvImg-shine {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 60%);
}

.product__text {
  padding: 100px;
}

.product__text .image__side img {
  width: 100%;
  height: 100%;
}

.product__text .infor {
  display: block;
  text-align: left;
  -webkit-text-decoration: bold;
          text-decoration: bold;
}

.product__text .infor #name {
  text-transform: uppercase;
}

.product__text .infor .text {
  color: black;
  font-size: 20px;
}

.product__text .infor .data {
  color: gray;
  font-size: 15px;
}

.product__text .price_cart {
  margin: auto;
}

.product__text .price_cart .price_infor {
  display: block;
  margin: auto;
  color: #FFF;
  background-color: #24262a;
  border-radius: 15px;
  height: 140px;
  width: 80%;
  padding: 10px;
}

.product__text .price_cart .price_infor .price_title {
  font-size: 25px;
  text-align: left;
}

.product__text .price_cart .price_infor .price_int {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.product__text .price_cart .button__cart {
  text-align: center;
  font-size: 30px;
  border: 1px solid orange;
  background-color: orange;
  border-radius: 15px;
  width: 80%;
  padding: 10px;
  margin: auto;
}

.product__text .price_cart .button__cart a {
  text-decoration: none;
  color: #FFF;
}

.search_page {
  padding-top: 100px;
}

.search_page .first .title {
  text-align: left;
  padding-top: 40px;
  padding-left: 30px;
  font-size: 30px;
}

.search_page .first .form-label {
  padding-top: 40px;
  color: gray;
}

.search_page .second {
  padding-top: 40px;
  padding-left: 30px;
  font-size: 18px;
}

.search_page .second .form-label {
  color: gray;
}

.search_page .third .title {
  text-align: left;
  padding-top: 40px;
  padding-left: 30px;
  font-size: 30px;
}

.search_page .energy_type .pill-control__label::before {
  content: "";
  display: block;
  right: .3125em;
  top: .3125em;
  height: 1.75em;
  width: 1.75em;
  position: absolute;
  background-color: #dcdcdc;
  border: 2px solid #3f3f3f;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5em;
  color: #fff;
}

.search_page .energy_type span {
  color: #FFF;
  margin-left: 20px;
}

.search_page .energy_type .pill-control__label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #373737;
  display: block;
  cursor: pointer;
  height: 2.7em;
  width: 75%;
  padding: 0.2em 0.1em 0.1em 0.1em;
  border-radius: 1.2em;
  position: relative;
  clear: both;
  z-index: 2;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.search_page .energy_type .pill-control__input {
  top: 50%;
  right: 50%;
  height: 1px;
  width: 1px;
  z-index: -1;
  background: none;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.search_page .energy_type input[type="checkbox"]:checked + .pill-control__label::before {
  color: #FFF;
  background-color: orange;
  content: '✔';
}

.search_page .button {
  text-align: right;
}

.mobile_nav {
  /* Style the navigation menu */
}

.mobile_nav .container {
  width: 100%;
  text-align: center;
}

.mobile_nav .topnav {
  overflow: hidden;
  background-color: #282828;
  position: relative;
  border-radius: 10px;
  /* Hide the links inside the navigation menu (except for logo/home) */
  /* Style navigation menu links */
}

.mobile_nav .topnav #myLinks {
  display: none;
}

.mobile_nav .topnav #myLinks .rarity {
  background-color: black;
}

.mobile_nav .topnav a {
  color: #FFF;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

.mobile_nav .topnav .title {
  width: 100%;
  color: #FFF;
  font-size: 30px;
  border-bottom: 2px solid #424242;
  text-align: center;
}

.mobile_nav #cardType {
  display: none;
  background-color: black;
}

.mobile_nav #cardType .check {
  margin: 0 auto;
  text-align: left;
}

.mobile_nav #cardType p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mobile_nav #cardType .check::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  display: block;
  right: .3125em;
  top: .3125em;
  height: 1.75em;
  width: 1.75em;
  position: absolute;
  background-color: #dcdcdc;
  border: 2px solid #3f3f3f;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5em;
  color: #fff;
}

.mobile_nav #cardType .check {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #373737;
  display: block;
  cursor: pointer;
  height: 2.375em;
  padding: 0 1em 0 1em;
  width: 75%;
  border-radius: 1.2em;
  position: relative;
  clear: both;
  z-index: 2;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.mobile_nav #cardType .input__control {
  top: 50%;
  right: 50%;
  height: 1px;
  width: 1px;
  z-index: -1;
  background: none;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.mobile_nav #cardType input[type="checkbox"]:checked + .check::before {
  color: #FFF;
  background-color: orange;
  content: '✔';
}

.mobile_nav #Rarity {
  display: none;
  background-color: black;
}

.mobile_nav #Rarity .check {
  margin: 0 auto;
  text-align: left;
}

.mobile_nav #Rarity p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mobile_nav #Rarity .check::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  display: block;
  right: .3125em;
  top: .3125em;
  height: 1.75em;
  width: 1.75em;
  position: absolute;
  background-color: #dcdcdc;
  border: 2px solid #3f3f3f;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5em;
  color: #fff;
}

.mobile_nav #Rarity .check {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #373737;
  display: block;
  cursor: pointer;
  height: 2.375em;
  padding: 0 1em 0 1em;
  width: 75%;
  border-radius: 1.2em;
  position: relative;
  clear: both;
  z-index: 2;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.mobile_nav #Rarity .input__control {
  top: 50%;
  right: 50%;
  height: 1px;
  width: 1px;
  z-index: -1;
  background: none;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.mobile_nav #Rarity input[type="checkbox"]:checked + .check::before {
  color: #FFF;
  background-color: orange;
  content: '✔';
}

.button--mint {
  background-color: #00ffe5;
  color: black;
  font-size: 20px;
  font-weight: normal;
  padding: 7px 30px;
}

.button--mint:hover {
  background-color: #FFF;
  color: black;
  font-size: 20px;
  font-weight: normal;
  padding: 7px 30px;
}

.button--dark {
  background-color: black;
  color: #FFF;
  font-size: 20px;
  font-weight: normal;
  padding: 7px 30px;
}

.button--dark:hover {
  background-color: #00ffe5;
  color: #FFF;
  font-size: 20px;
  font-weight: normal;
  padding: 7px 30px;
}
/*# sourceMappingURL=main.css.map */