@charset "UTF-8";
header, footer {
  margin-bottom: 0px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 15px;
  color: black;
  background-color: #FFF;
}

header {
  background-color: rgba(0, 0, 0, 0.5) !important;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header .header__content .navbar-brand {
  margin-left: 60px;
}

header .header__content .navbar-brand img {
  display: inline-block;
}

header .header__content .navbar-brand .logo--icon {
  width: 50px;
}

header .header__content .navbar-brand .logo--name {
  width: 150px;
}

header .header__content .navbar-nav {
  margin-left: auto !important;
}

header .header__content .navbar-nav .nav-item {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header__content .navbar-nav .nav-item .nav-link {
  color: #FFF;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 20px;
}

header .header__content .navbar-nav .nav-item .nav-link.active {
  color: #ff9700;
}

header .header__content .navbar-nav .nav-item:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#828282), to(transparent));
  background: linear-gradient(to top, #828282, transparent);
  border-radius: 10px;
  opacity: 1;
}

header .header__content .cart__logo {
  padding: 10px;
  text-align: center;
}

header .header__content .cart__logo a {
  text-decoration: none;
  color: #FFF;
  margin-right: 30px;
}

header .header__content .cart__logo a i {
  color: orange;
  font-size: 40px;
}

footer {
  background-color: black;
  padding-top: 50px;
  width: 100%;
  padding-bottom: 50px;
}

footer .container {
  padding-right: 40px;
  padding-left: 40px;
}

footer .top__footer .container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: #FFF;
}

footer .top__footer .container .content {
  text-align: center;
  margin: auto;
  white-space: nowrap;
}

footer .top__footer .container .icon {
  font-size: 50px;
  width: 100%;
  margin: 0 auto;
}

footer .top__footer .container .icon .list__snw {
  text-align: center;
}

footer .top__footer .container .icon .list__snw a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

footer .top__footer .container .icon .list__snw a::before,
footer .top__footer .container .icon .list__snw a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  color: #FFF;
}

footer .top__footer .container .icon .list__snw a::before {
  background-color: #00ffe5;
  height: 2px;
  bottom: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
}

footer .top__footer .container .icon .list__snw a:hover {
  color: #FFF;
}

footer .top__footer .container .icon .list__snw a:hover::before {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

footer .top__footer .container .icon .list__snw a:hover::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

footer .top__footer .container .icon .list__snw i {
  color: gray;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 0 20px;
  color: #FFF;
}

footer .top__footer .container .icon .list__snw i a {
  text-decoration: none;
  color: gray;
}

footer .top__footer .container .icon .list__snw #facebook:hover {
  color: #4267b2;
}

footer .top__footer .container .icon .list__snw #instagram:hover {
  color: #833AB4;
}

footer .top__footer .container .icon .list__snw #twitch:hover {
  color: #6441a5;
}

footer .top__footer .container .icon .list__snw #linkedin:hover {
  color: #0072b1;
}

footer .top__footer .container .icon .list__snw #github:hover {
  color: #AD62AA;
}

footer .top__footer .container .icon .list__snw #youtube:hover {
  color: #FF0000;
}

footer .top__footer .container .icon .list__snw #discord:hover {
  color: #5865F2;
}

footer .bot__footer {
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

footer .bot__footer .container {
  max-width: 100%;
  font-size: 20px;
}

footer .bot__footer .container .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer .bot__footer .container .logo .logo--name {
  width: 150px;
}

footer .bot__footer .container .first__content {
  margin: 0;
  white-space: nowrap;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .bot__footer .container .first__content .web__link {
  font-size: 20px;
  display: block;
}

footer .bot__footer .container .first__content .web__link a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

footer .bot__footer .container .first__content .web__link a::before,
footer .bot__footer .container .first__content .web__link a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  color: #FFF;
}

footer .bot__footer .container .first__content .web__link a::before {
  background-color: #00ffe5;
  height: 2px;
  bottom: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
}

footer .bot__footer .container .first__content .web__link a:hover {
  color: #FFF;
}

footer .bot__footer .container .first__content .web__link a:hover::before {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

footer .bot__footer .container .first__content .web__link a:hover::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

footer .bot__footer .container .first__content .web__link a {
  text-decoration: none;
  color: gray;
}

footer .bot__footer .container .contact .each__member {
  font-size: 20px;
  display: block;
}

footer .bot__footer .container .contact .each__member a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

footer .bot__footer .container .contact .each__member a::before,
footer .bot__footer .container .contact .each__member a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  color: #FFF;
}

footer .bot__footer .container .contact .each__member a::before {
  background-color: #00ffe5;
  height: 2px;
  bottom: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 1s cubic-bezier(0.76, 0, 0.24, 1);
}

footer .bot__footer .container .contact .each__member a:hover {
  color: #FFF;
}

footer .bot__footer .container .contact .each__member a:hover::before {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

footer .bot__footer .container .contact .each__member a:hover::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

footer .bot__footer .container .contact .each__member a {
  text-decoration: none;
  color: gray;
}

footer .bot__footer .container .logo__e {
  text-align: center;
}

footer .bot__footer .container .logo__e img {
  width: 150px;
}

.banner {
  position: relative;
}

.banner .banner__content {
  background-image: url("../img/banner_1.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  height: 1000px;
}

.banner .banner__content .banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

.banner .banner__items {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFF;
  z-index: 3;
  text-align: center;
}

.banner .banner__items h2 {
  font-size: 100px;
}

.banner .banner__items p {
  font-size: 30px;
}

.banner .banner__items .custom-btn {
  z-index: 2;
  background-color: black;
  width: 400px;
  height: 100px;
  font-size: 50px;
}

.scrollbar .sideNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  top: 240px;
  position: fixed;
  z-index: 800;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: -webkit-transform .15s linear;
  transition: -webkit-transform .15s linear;
  transition: transform .15s linear;
  transition: transform .15s linear, -webkit-transform .15s linear;
  font-size: 30px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
}

.scrollbar .sideNavigation #icon {
  font-size: 30px;
  width: 100%;
  margin: 0 auto;
}

.scrollbar .sideNavigation .sideNavigation .btn {
  margin: 1px 0 0;
  padding: 4px 25px 6px 15px;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}

.scrollbar .sideNavigation .sideNavigation__item {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.3));
  border-right: 2px solid #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: color 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

.scrollbar .sideNavigation .btn:hover {
  background-color: black;
  color: #00ffe5;
}

.pop__up button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pop__up .button--mint {
  margin: 10px;
  border: 2px solid #00ffe5;
}

.pop__up .button--dark {
  border: 2px solid #00ffe5;
}

.pop__up .modal-body {
  white-space: 30px;
}

.item__list {
  background-color: #FFF;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  /* 348 / 479 */
}

.item__list .paging__button {
  font-size: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  border: solid 2px black;
  border-radius: 10px;
  background: linear-gradient(51deg, #3f5efb 0%, #ff6f00 100%);
  font-weight: 500;
  color: white;
}

.item__list .paging__button span .arrow__icon {
  display: inline-block;
  cursor: pointer;
}

.item__list .paging__button span a {
  text-decoration: none;
  color: white;
}

.item__list .paging__button span i {
  margin: 0 10px;
}

.item__list .container_main {
  left: 40%;
  -webkit-transform: translate(-1%, 1%);
  transform: translate(-1%, 1%);
}

.item__list .cover {
  display: inline-block;
  width: 240px;
  height: 330px;
  margin: 15px;
  border-radius: 8px;
}

.item__list .atvImg {
  border-radius: 8px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.item__list .atvImg img {
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
  box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
}

.item__list .atvImg-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.item__list .atvImg-container.over .atvImg-shadow {
  -webkit-box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
  box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
}

.item__list .atvImg-layers {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.item__list .atvImg-rendered-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: cover;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  overflow: hidden;
  border-radius: 8px;
}

.item__list .atvImg-shadow {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
  box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
}

.item__list .atvImg-shine {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 60%);
}

.product {
  padding: 120px 0;
}

.product .product__main {
  background-color: #cccccc;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-top: auto;
}

.product .product__main .product__text {
  padding: 30px;
}

.product .product__main .product__text .image__side img {
  width: 100%;
  height: 100%;
}

.product .product__main .product__text .infor {
  text-align: left;
  -webkit-text-decoration: bold;
          text-decoration: bold;
  margin-top: 20px;
}

.product .product__main .product__text .infor div {
  margin: 5px 0;
}

.product .product__main .product__text .infor #name {
  text-transform: uppercase;
}

.product .product__main .product__text .infor .text {
  color: black;
  font-size: 20px;
}

.product .product__main .product__text .infor .data {
  color: #FFF;
  font-size: 20px;
}

.product .product__main .product__text .price_cart {
  margin: 0 auto;
  margin-top: 100px;
}

.product .product__main .product__text .price_cart .price_infor {
  display: block;
  margin: auto;
  color: #FFF;
  background-color: #24262a;
  border-radius: 15px;
  height: 140px;
  width: 80%;
  padding: 10px;
}

.product .product__main .product__text .price_cart .price_infor .price_title {
  font-size: 25px;
  text-align: left;
}

.product .product__main .product__text .price_cart .price_infor .price_int {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.product .product__main .product__text .price_cart .button__cart {
  text-align: center;
  font-size: 30px;
  border: 1px solid orange;
  background-color: orange;
  border-radius: 15px;
  width: 80%;
  padding: 10px;
  margin: 30px auto;
  cursor: pointer;
}

.product .product__main .product__text .price_cart .button__cart a {
  text-decoration: none;
  color: #FFF;
}

.search_page {
  padding: 100px;
}

.search_page .container.border {
  background-color: #cccccc;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 10px solid red;
}

.search_page .first .title {
  text-align: left;
  padding-top: 40px;
  padding-left: 30px;
  font-size: 30px;
}

.search_page .second {
  font-size: 18px;
}

.search_page .second .title {
  text-align: left;
  padding-top: 40px;
  padding-left: 30px;
  font-size: 30px;
}

.search_page .second .form-control {
  margin-left: 30px;
}

.search_page .third .title {
  text-align: left;
  padding-top: 40px;
  padding-left: 30px;
  font-size: 30px;
}

.search_page .energy_type .pill-control__label::before {
  content: "";
  display: block;
  right: .3125em;
  top: .3125em;
  height: 1.75em;
  width: 1.75em;
  position: absolute;
  background-color: #dcdcdc;
  border: 2px solid #3f3f3f;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5em;
  color: #fff;
}

.search_page .energy_type span {
  color: #FFF;
  margin-left: 20px;
}

.search_page .energy_type .pill-control__label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #373737;
  display: block;
  cursor: pointer;
  height: 2.7em;
  width: 75%;
  padding: 0.2em 0.1em 0.1em 0.1em;
  border-radius: 1.2em;
  position: relative;
  clear: both;
  z-index: 2;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.search_page .energy_type .pill-control__input {
  top: 50%;
  right: 50%;
  height: 1px;
  width: 1px;
  z-index: -1;
  background: none;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.search_page .energy_type input[type="checkbox"]:checked + .pill-control__label::before {
  color: #FFF;
  background-color: orange;
  content: '✔';
}

.search_page .button {
  width: 90%;
  text-align: center;
  text-align: right;
}

.mobile_nav {
  /* Style the navigation menu */
}

.mobile_nav .container {
  width: 100%;
  text-align: center;
}

.mobile_nav .topnav {
  overflow: hidden;
  background-color: #282828;
  position: relative;
  border-radius: 10px;
  /* Hide the links inside the navigation menu (except for logo/home) */
  /* Style navigation menu links */
}

.mobile_nav .topnav #myLinks {
  display: none;
}

.mobile_nav .topnav #myLinks .rarity {
  background-color: black;
}

.mobile_nav .topnav a {
  color: #FFF;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

.mobile_nav .topnav .title {
  width: 100%;
  color: #FFF;
  font-size: 30px;
  border-bottom: 2px solid #424242;
  text-align: center;
}

.mobile_nav #cardType {
  display: none;
  background-color: black;
}

.mobile_nav #cardType .check {
  margin: 0 auto;
  text-align: left;
}

.mobile_nav #cardType p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mobile_nav #cardType .check::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  display: block;
  right: .3125em;
  top: .3125em;
  height: 1.75em;
  width: 1.75em;
  position: absolute;
  background-color: #dcdcdc;
  border: 2px solid #3f3f3f;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5em;
  color: #fff;
}

.mobile_nav #cardType .check {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #373737;
  display: block;
  cursor: pointer;
  height: 2.375em;
  padding: 0 1em 0 1em;
  width: 75%;
  border-radius: 1.2em;
  position: relative;
  clear: both;
  z-index: 2;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.mobile_nav #cardType .input__control {
  top: 50%;
  right: 50%;
  height: 1px;
  width: 1px;
  z-index: -1;
  background: none;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: white;
}

.mobile_nav #cardType input[type="checkbox"]:checked + .check::before {
  color: #FFF;
  background-color: orange;
  content: '✔';
}

.mobile_nav #Rarity {
  display: none;
  background-color: black;
}

.mobile_nav #Rarity .check {
  margin: 0 auto;
  text-align: left;
}

.mobile_nav #Rarity p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mobile_nav #Rarity .check::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  display: block;
  right: .3125em;
  top: .3125em;
  height: 1.75em;
  width: 1.75em;
  position: absolute;
  background-color: #dcdcdc;
  border: 2px solid #3f3f3f;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5em;
  color: #fff;
}

.mobile_nav #Rarity .check {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #373737;
  display: block;
  cursor: pointer;
  height: 2.375em;
  padding: 0 1em 0 1em;
  width: 75%;
  border-radius: 1.2em;
  position: relative;
  clear: both;
  z-index: 2;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.mobile_nav #Rarity .input__control {
  top: 50%;
  right: 50%;
  height: 1px;
  width: 1px;
  z-index: -1;
  background: none;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.mobile_nav #Rarity input[type="checkbox"]:checked + .check::before {
  color: #FFF;
  background-color: orange;
  content: '✔';
}

.cart__detail {
  padding: 120px 0;
}

.cart__detail .cart__main {
  background-color: #cccccc;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-top: auto;
}

.cart__detail .cart__main .title {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.cart__detail .cart__main .cart__menu {
  margin: 10px;
}

.cart__detail .cart__main .cart__menu td {
  border: 1px solid black;
}

.cart__detail .cart__main .cart__menu th {
  border: 1px solid black;
}

.cart__detail .cart__main .cart__menu p {
  text-align: center;
  margin: 25px auto;
}

.cart__detail .cart__main .cart__menu .data .delete__button {
  width: 20px;
  text-align: center;
}

.cart__detail .cart__main .cart__menu .data .amount {
  text-align: center;
}

.cart__detail .cart__main .cart__menu .data .amount .item-quantity {
  width: 70px;
  margin: 25px auto;
}

.cart__detail .cart__main .cart__menu .total {
  text-align: right;
}

.cart__detail .cart__main .payment {
  margin: 0 auto;
  text-align: right;
}

.button--mint {
  background-color: #00ffe5;
  color: black;
  font-size: 20px;
  font-weight: normal;
  padding: 7px 30px;
}

.button--mint:hover {
  background-color: #FFF;
  color: black;
  font-size: 20px;
  font-weight: normal;
  padding: 7px 30px;
}

.button--dark {
  background-color: black;
  color: #FFF;
  font-size: 20px;
  font-weight: normal;
  padding: 7px 30px;
}

.button--dark:hover {
  background-color: #00ffe5;
  color: #FFF;
  font-size: 20px;
  font-weight: normal;
  padding: 7px 30px;
}

body {
  background: #e0e5ec;
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

button {
  margin: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* 1 */
.btn-1 {
  background: #060e83;
  background: -webkit-gradient(linear, left bottom, left top, from(#060e83), to(#0c19b4));
  background: linear-gradient(0deg, #060e83 0%, #0c19b4 100%);
  border: none;
}

.btn-1:hover {
  background: #0003ff;
  background: -webkit-gradient(linear, left bottom, left top, from(#0003ff), to(#027efb));
  background: linear-gradient(0deg, #0003ff 0%, #027efb 100%);
}

/* 2 */
.btn-2 {
  background: #6009f0;
  background: -webkit-gradient(linear, left bottom, left top, from(#6009f0), to(#8105f0));
  background: linear-gradient(0deg, #6009f0 0%, #8105f0 100%);
  border: none;
}

.btn-2:before {
  height: 0%;
  width: 2px;
}

.btn-2:hover {
  -webkit-box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

/* 3 */
.btn-3 {
  background: #00acee;
  background: -webkit-gradient(linear, left bottom, left top, from(#00acee), to(#027efb));
  background: linear-gradient(0deg, #00acee 0%, #027efb 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #027efb;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:hover {
  color: #027efb;
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #027efb;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}

/* 4 */
.btn-4 {
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-4:hover {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}

.btn-4 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  -webkit-box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
          box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-4:before {
  height: 0%;
  width: .1px;
}

.btn-4:after {
  width: 0%;
  height: .1px;
}

.btn-4:hover:before {
  height: 100%;
}

.btn-4:hover:after {
  width: 100%;
}

.btn-4 span:before,
.btn-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  -webkit-box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
          box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-4 span:before {
  width: .1px;
  height: 0%;
}

.btn-4 span:after {
  width: 0%;
  height: .1px;
}

.btn-4 span:hover:before {
  height: 100%;
}

.btn-4 span:hover:after {
  width: 100%;
}

/* 5 */
.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: #ff1b00;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff1b00), to(#fb4b02));
  background: linear-gradient(0deg, #ff1b00 0%, #fb4b02 100%);
}

.btn-5:hover {
  color: #f0094a;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-5:before,
.btn-5:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f0094a;
  -webkit-box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
          box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
}

.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
}

/* 6 */
.btn-6 {
  background: #f796c0;
  background: radial-gradient(circle, #f796c0 0%, #76aef1 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  -webkit-box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white, 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white, 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.btn-6:before {
  right: 0;
  top: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.btn-6:after {
  left: 0;
  bottom: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.btn-6:hover {
  background: transparent;
  color: #76aef1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-6:hover:before {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  height: 100%;
}

.btn-6:hover:after {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  height: 100%;
}

.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  -webkit-box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white, 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white, 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: .5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.btn-6 span:hover:before {
  width: 100%;
}

.btn-6 span:hover:after {
  width: 100%;
}

/* 7 */
.btn-7 {
  background: -webkit-gradient(linear, left bottom, left top, from(#ff9700), to(#fb4b02));
  background: linear-gradient(0deg, #ff9700 0%, #fb4b02 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #fb4b02;
  -webkit-box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-7:before {
  height: 0%;
  width: 2px;
}

.btn-7:after {
  width: 0%;
  height: 2px;
}

.btn-7:hover {
  color: #fb4b02;
  background: transparent;
}

.btn-7:hover:before {
  height: 100%;
}

.btn-7:hover:after {
  width: 100%;
}

.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #fb4b02;
  -webkit-box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-7 span:before {
  width: 2px;
  height: 0%;
}

.btn-7 span:after {
  height: 2px;
  width: 0%;
}

.btn-7 span:hover:before {
  height: 100%;
}

.btn-7 span:hover:after {
  width: 100%;
}

/* 8 */
.btn-8 {
  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-8:before {
  height: 0%;
  width: 2px;
}

.btn-8:after {
  width: 0%;
  height: 2px;
}

.btn-8:hover:before {
  height: 100%;
}

.btn-8:hover:after {
  width: 100%;
}

.btn-8:hover {
  background: transparent;
}

.btn-8 span:hover {
  color: #c797eb;
}

.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-8 span:before {
  width: 2px;
  height: 0%;
}

.btn-8 span:after {
  height: 2px;
  width: 0%;
}

.btn-8 span:hover:before {
  height: 100%;
}

.btn-8 span:hover:after {
  width: 100%;
}

/* 9 */
.btn-9 {
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.btn-9:before {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-9:hover {
  background: transparent;
  -webkit-box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
          box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}

.btn-9:hover:before {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  -webkit-box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
          box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

/* 10 */
.btn-10 {
  background: #1609f0;
  background: -webkit-gradient(linear, left bottom, left top, from(#1609f0), to(#316ef4));
  background: linear-gradient(0deg, #1609f0 0%, #316ef4 100%);
  color: #fff;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.btn-10:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}

.btn-10:hover {
  color: #fff;
  border: none;
  background: transparent;
}

.btn-10:hover:after {
  background: #0003ff;
  background: -webkit-gradient(linear, left bottom, left top, from(#027efb), to(#0003ff));
  background: linear-gradient(0deg, #027efb 0%, #0003ff 100%);
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* 11 */
.btn-11 {
  border: none;
  background: #fb2175;
  background: -webkit-gradient(linear, left bottom, left top, from(#fb2175), to(#ea4c89));
  background: linear-gradient(0deg, #fb2175 0%, #ea4c89 100%);
  color: #fff;
  overflow: hidden;
}

.btn-11:hover {
  text-decoration: none;
  color: #fff;
}

.btn-11:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  -webkit-animation: shiny-btn1 3s ease-in-out infinite;
          animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:hover {
  opacity: .7;
}

.btn-11:active {
  -webkit-box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

/* 12 */
.btn-12 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.btn-12 span {
  background: #00acee;
  background: -webkit-gradient(linear, left bottom, left top, from(#00acee), to(#027efb));
  background: linear-gradient(0deg, #00acee 0%, #027efb 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn-12 span:nth-child(1) {
  -webkit-box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
          box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

/* 13 */
.btn-13 {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}

.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  -webkit-box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
          box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-13:hover {
  color: #fff;
}

.btn-13:hover:after {
  top: 0;
  height: 100%;
}

.btn-13:active {
  top: 2px;
}

/* 14 */
.btn-14 {
  background: orange;
  border: none;
  z-index: 1;
  color: black;
  font-weight: 500;
  font-size: 15px;
}

.btn-14:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #37b3c9;
  background-image: linear-gradient(315deg, #77d3df 0%, #3fc4f5 74%);
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-14:hover {
  color: #000;
}

.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}

.btn-14:active {
  top: 2px;
}

/* 15 */
.btn-15 {
  background: #b621fe;
  border: none;
  z-index: 1;
}

.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-15:hover {
  color: #fff;
}

.btn-15:hover:after {
  left: 0;
  width: 100%;
}

.btn-15:active {
  top: 2px;
}

/* 16 */
.btn-16 {
  border: none;
  color: #000;
}

.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  -webkit-box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
          box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-16:hover {
  color: #000;
}

.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-16:active {
  top: 2px;
}
/*# sourceMappingURL=main.css.map */