.banner {
    position: relative;
    .banner__content {
        background-image: url("../img/banner_1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 1000px;
        .banner__overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.45);
        }
    }
    .banner__items {
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-white-0;
        z-index: 3;
        text-align: center;
        h2 {
            font-size: 100px;
        }
        p {
            font-size: 30px;
        }
        .custom-btn {
            z-index: 2;
            background-color: $color-black-0;
            width: 400px;
            height: 100px;
            font-size: 50px;
        }
    }
    @media screen and (max-width:1200px ) {
        .banner__items{
            h2{
                font-size: 60px;
            }
            p{
                font-size: 20px;
            }
        }
    }
    @media screen and (max-width:575.99px) {
        .banner__items{
            .custom-btn{
                font-size: 20px;
                width: 180px;
                height: 80px;
            }
            h2{
                font-size: 40px;
            }
            p{
                font-size: 15px;
            }
        }
    }
}
