.cart__detail {
    padding: 120px 0;

    .cart__main {
        background-color: #cccccc;
        padding-bottom: 10px;
        border-radius: 10px;
        margin-top: auto;

        .title {
            margin: 0 auto;
            margin-top: 20px;
            text-align: center;
        }

        .cart__menu {
            margin: 10px;

            td {
                border: 1px solid $color-black-0;
                
            }

            th {
                border: 1px solid $color-black-0;
            }

            img {
                width: 55%;
                height: 100%;
                text-align: center;
                
            }

            p {
                text-align: center;
                margin: 25px auto;
            }

            .data {
                
                .delete__button {
                    width: 20px;
                    text-align: center;
                    vertical-align: middle;
                    i{
                        font-size: 50px;
                        cursor: pointer;
                    }
                }

                .amount {
                    text-align: center;

                    .item-quantity {
                        width: 70px;

                        margin: 25px auto;
                    }
                }
                
            }

            .total {
                text-align: right;
                font-size: 25px;
                #totalCost{
                    font-weight: 700;

                }
            }
        }

        .payment {
            margin: 0 auto;
            text-align: right;
            a{
                text-decoration: none;
            }
        }
    }
}