footer {
    // margin-top: 1000px;
    @extend %section;
    background-color: $color-black-0;
    padding-top: $pd-4;
    width: 100%;
    padding-bottom: $pd-4;
    .container{
        padding-right: $mg-3;
        padding-left: $mg-3;
    }
    .top__footer {
        .container {
            max-width: 100%;
            display: flex;
            font-size: $fs-1;
            color: $color-white-0;

            .content {
                text-align: center;
                margin: auto;
                white-space: nowrap;
            }

            .icon {
                font-size: $fs-1 +30;
                width: 100%;
                margin: 0 auto;

                .list__snw {
                    text-align: center;
                    @include hoverA($color-mint-0, $color-white-0);
                    i {
                        color: $color-gray-0;
                        transition: .5s;
                        margin:0 $mg-1;
                        color:$color-white-0;
                        a {
                            text-decoration: none;
                            color: $color-gray-0;
                        }
                    }

                    #facebook:hover {
                        color: #4267b2;

                    }

                    #instagram:hover {
                        color: #833AB4;
                    }

                    #twitch:hover {
                        color: #6441a5;
                    }

                    #linkedin:hover {
                        color: #0072b1;
                    }

                    #github:hover {
                        color: #AD62AA;
                    }

                    #youtube:hover {
                        color: #FF0000;
                    }

                    #discord:hover {
                        color: #5865F2;
                    }
                }
            }
        }
    }

    .bot__footer {
        color: $color-white-0;
        display: flex;
        padding-top: 50px;

        .container {
            max-width: 100%;
            font-size: $fs-1;

            .logo {
                align-items: center;
                justify-content: center;
                text-align: center ;
                .logo--name {
                    width: 150px;
                }
            }

            .first__content {
                margin: 0;
                white-space: nowrap;
                text-align: left;
                justify-content: center;

                .web__link {
                    font-size: $fs-1;
                    display: block;

                    @include hoverA($color-mint-0, $color-white-0);

                    a {
                        text-decoration: none;
                        color: $color-gray-0;
                    }
                }
            }

            .contact {
                .each__member {
                    font-size: $fs-1;
                    display: block;
                    margin-top: 20px;

                    @include hoverA($color-mint-0, $color-white-0);

                    a {
                        text-decoration: none;
                        color: $color-gray-0;
                    }
                }
            }

            .logo__e {
                text-align: center;

                img {
                    width: 150px;
                }
            }
        }
    }
    @media screen and (max-width:1200px){
        .top__footer{
            .container{
                flex-direction: column;
                .content{
                    margin-bottom: $mg-1;
                }
            }
        }
        .bot__footer{
            .container{
                .logo,.first__content,.contact{
                    margin:$mg-2 0;
                }
                .contact{
                    .each__member, .tilte{
                        text-align: center;
                    }
                }
                .first__content{
                    text-align: center;
                }
            }
        }
    }
    @media screen and (max-width:1030px) {
        .top__footer{
            .container{
                .icon{
                    .list__snw{
                         i{
                             font-size:40px;
                         }
                    }
                }
            }
        }
    }
}