header{
    @extend %section;
    background-color: $color-white-1 !important;
    .header__content{
        .navbar-brand{
            img{
                display: inline-block;
            }
            .logo--icon{
                width: 50px;
            }
            .logo--name{
                width: 150px;
            }
        }
    }
}