header{
    .header__content{
        .navbar-brand{
            img{
                display: inline-block;
            }
            .logo--icon{
                width: 50px;
            }
            .logo--name{
                width: 150px;
            }
        }
    }
}