.paymentForm {
    padding: 120px 0;
    .payment__main {
        background-color: #cccccc;
    padding: 25px;
    border-radius: 10px;
    margin-top: auto;
    width: 80%;
        form{
            font-size: 20px;
            .full__name{
                padding-top: 15px;
            }
            .email{
                padding-top: 15px;
            }
            .phone__address{
                padding-top: 15px;
            }
        }
        .payment__button{
            margin-top: 30px;
            text-align: right;
            padding-right: 30px;
        }
        
    }
    @media screen and (max-width:767.99px){
        padding: 120px 5px;
        .payment__main{
            width: 80%;
            .address{
                margin-top: $mg-1;
            }
        }
    }

}