.scrollbar{
    .sideNavigation {
        display: flex;
        flex-direction: column;
        left: 0;
        top: 240px;
        position: fixed;
        z-index: 800;
        width: fit-content;
        transition: transform .15s linear;
        font-size: 30px;
        line-height: 25px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .sideNavigation .btn {
        margin: 1px 0 0;
        padding: 4px 25px 6px 15px;
        border-top: 0;
        border-bottom: 0;
        border-left: 0;
    }
    .sideNavigation__item {
        color: #fff;
        background: linear-gradient(90deg,rgba(0,0,0,.6) 0,rgba(0,0,0,.3));
        border-right: 2px solid #fff;
        flex-grow: 1;
        transition: color .25s cubic-bezier(.23,1,.32,1);
    }
    .btn:hover{
        background-color: $color-black-0;
        color: $color-mint-0;
    }
}