.search_page {
    padding-top: 100px;

    .first {
        .title {
            text-align: left;
            padding-top: $pd-3;
            padding-left: $pd-2;
            font-size: $fs-1 + 10;

        }

        .form-label {
            padding-top: $pd-3;
            color: $color-gray-0;
        }
    }

    .second {
        padding-top: $pd-3;
        padding-left: $pd-2;
        font-size: $fs-0 + 3;

        .form-label {
            color: $color-gray-0;
        }
    }

    .third {
        .title {
            text-align: left;
            padding-top: $pd-3;
            padding-left: $pd-2;
            font-size: $fs-1 + 10;
        }
    }

    .energy_type {
        
        .pill-control__label::before {
            content: "";
            display: block;
            right: .3125em;
            top: .3125em;
            height: 1.75em;
            width: 1.75em;
            position: absolute;
            background-color: #dcdcdc;
            border: 2px solid #3f3f3f;
            border-radius: 50%;
            text-align: center;
            line-height: 1.5em;
            color: #fff;
        }

        span {
            color: $color-white-0;
            margin-left: $mg-1;
        }

        .pill-control__label {

            user-select: none;
            background-color: #373737;
            display: block;
            cursor: pointer;
            height: 2.7em;
            width: 75%;
            padding: 0.2em 0.1em 0.1em 0.1em;
            border-radius: 1.2em;
            position: relative;
            clear: both;
            z-index: 2;
            transition: background-color 0.25s ease;
        }

        .pill-control__input {

            top: 50%;
            right: 50%;
            height: 1px;
            width: 1px;
            z-index: -1;
            background: none;
            opacity: 0;
            appearance: none;
        }

        

        input[type="checkbox"]:checked+.pill-control__label::before {
            color: $color-white-0;
            background-color: orange;
            content: '✔';
        }
    }
    .button{
        text-align: right;
    }
}